
/* App.css */
html{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}



.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 300vh;
  background-color: rgba(2, 101, 249, 0.639);

}

.header {

}

.container h1{
  color: white;
}

.main {
  flex-grow: 1;
  /* Main content styles */
}

.footer {
  /* Footer styles */
}

/* Media queries for responsiveness */
/* @media (min-width: 1000px) {
  .container {
    flex-direction: row;
  } */
  /* Other media query styles */
/* } */
