/* global.css */

/* Typography */
h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin: 1rem 0;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
    margin: 1rem 0;
  }

  /* Navigation */
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
  }

  nav ul li a{
    /* margin-left: -100px; */
  }

  .landingpage div{
    background-color: white;
    height: 400px;
    border-radius: 8px;
  }

  .landingpage div h1{
    color:#ccc;
  }

  .main2{
    padding:80px;
    margin-top: 20px;
  }

  .main2 h1{
    /* margin-top: 10px; */
  }

  nav{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height:75px
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }


/* App.css FILEEEEEEEEEEEEEEEEEEEEEEE STYLE */
body{
  margin: 0;
  padding:0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

nav ul li{
  display:flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 70px;
}


.header p{
  font-size: small;
  margin-top: 0;
  margin-left: 8px;
}

.header img{
  width: 150px;
  display: flex;
  margin-right: 200px;
  margin-top:10px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 300vh;
  background-color: rgba(232, 97, 35, 0.895);
}

.container h1{
  color: white;
}

.main {
  flex-grow: 1;
  /* Main content styles */
}

.footer {
  /* Footer styles */
}

/* Media queries for responsiveness */
/* @media (min-width: 1000px) {
  .container {
    flex-direction: row;
  } */
  /* Other media query styles */
/* } */

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  border: none;
  height: 60px;
  margin-top: 7px;
  /* width:60px; */
}

.search-container input[type="text"] {
  flex: 1;
  padding: 8px;
  /* border: none; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
}

.fa-search {
  font-size: 18px;
  color: #999;
  /* color:black; */
}


/* Landing Page images */
.landingpage {
  margin-top: 30px;
}

.landingpage div{
  margin-bottom: 20px;
}

/* Slider */
